body {
	background: black;
}

/*este elemento le da contorno a todas 
las partes de la pagina web ayudandoneos a delimitar */
* {
	border: 1px dashed red;
	min-height: 10px;
}

p {
	color: blue;
}

.postcard {
	/* aqui elcodigo*/
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
}

.postcard-header {
	display: flex;
	display: x;
}

.postcard-header h1 {
	width: x;
	margin: 0;
}
.postcard-header img {
	/*con margin le muevo la imagen del texto lo quequiera ,
    de hecho en auto la mueve todo a la derecha  sino puedes
    añadir px pixeles para ver poco a poco como se separa del texto h1*/
    margin-left: auto;
	/* estas dos propiedades son para el tamaño de la imagen */
    width: 50px;
	height: 50px;
}

.postcard-body {
}

.postcard-footer {
}
